body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color:  rgb(27, 27, 27);
}
header {
  width: 100vw;
  overflow: hidden;
}
header img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.f{
  position: absolute;
  background: rgb(27, 27, 27);
  top: 564px;
  left: 800px;
  width: 40px;
  height: 40px;
}
.c{
  position: absolute;
  background: rgb(27, 27, 27);
  top: 604px;
  left: 760px;
  width: 40px;
  height: 40px;
}
.d{
  position: absolute;
  background: rgb(27, 27, 27);
  top: 604px;
  left: 680px;
  width: 40px;
  height: 40px;  
}
p{
  position: absolute;
  background: rgb(27, 27, 27);
  top:680px;
  left: 300px;
  width: 500px;
  height: 200px;
  font-size: 20px;
  color: white;
}
h2{
  position: absolute;
  background: rgb(27, 27, 27);
  top: 620px;
  left: 300px;
  width: 500px;
  height: 200px;
  font-size: 26px;
  color:white;
  text-align: center;
}
.a{
  display: block;
}
.e{
  background-color: rgb(78, 122, 10);
  color: white;
  text-decoration: none;
}
.e:hover{
  background-color:rgb(91, 141, 16);
}
.q{
  color: white ;
  text-decoration: none;
}
.q:hover{
  text-decoration: underline;
}
.e{
  position: relative;
  top: 60px;
  left: 70px;
}
.q{
  position: relative;
  top: 70px;
  left: 120px;
}
.tp1{
  position: absolute;
  top: 800px;
  left: 930px;
}
a img{
  width: 120px;
  height: 70px;
}
.tp2{
  position: absolute;
  top: 800px;
  left: 1080px;
}
.tp3{
  position: absolute;
  top: 800px;
  left: 1230px;
}
.tp4{
  position: absolute;
  top: 800px;
  left: 1380px;
}
.tp1:hover{
  border: 3px solid rgb(10, 165, 10);
}  
.tp2:hover{
  border: 3px solid rgb(10, 165, 10);
}
.tp3:hover{
  border: 3px solid rgb(10, 165, 10);
}
.tp4:hover{
  border: 3px solid rgb(10, 165, 10);
}
